<!DOCTYPE html>
<html>
<head>
<style>
body {
    font-size: 100%;
    font-family: Helvetica; sans-serif; color: black;
    margin-left: 60px;
    letter-spacing: inherit
    background-color:white;
    }

h1 {
    font-family: Helvetica;
    color: black;
    font-size: 4em;
    background: #C0C0C0; 
    align-content: center;
    padding: 20px;
    letter-spacing: 4px;
    width: 90%;
}

h2 {
    font-family: Helvetica; sans-serif; color: black;
    font-size: 2em;
    background: #C0C0C0;
    align-content: left;
    padding: 10px;
}

a:link{
    /*unvisited link*/
    text-decoration: none;
    text-align: left;
    font-family: Helvetica; sans-serif;
    color:orchid;
}

a:visited{
    /*visited link*/
    text-decoration: none;
    color:mediumslateblue;
}

a:hover{
    /*mouse over link*/
    text-decoration: none;
    color:hotpink;
}
p {
    font-size: 100%;
    font-family: Helvetica; sans-serif;
    font-size: 1em;
    }

div{
    height: 650;
    width: 90%;
    display: inline-block;
}

#woman {
    width: 460px;
    height: 650px;
    float: left;
    display: inline-block;
    font-family: Helvetica; sans-serif;
}

#navigation {
    width: 50%;
    height: 650px;
    background color: gray;
    text-align: left;
    display: inline-block;
    font-family: Helvetica; sans-serif;
    font-size: 2em
}

#statement {
    width: 90%;
    text-align: left;
    font-family: Helvetica; sans-serif;
}

#paintings {
    width: 90%;
    text-align: center;
    font-family: Helvetica; sans-serif;
}

#table {
    border: 1px;
    color: black;
}

#resume {
    width: 90%;
    text-align: left;
    font-family: Helvetica; sans-serif;
}

#contact {
    font-family: Helvetica; sans-serif; 
    width: 90%;
    text-align: left;
}
#links {
    font-family: Helvetica; sans-serif;  
    width: 90%;
    text-align: left;
}
